<h1>Owners</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Number of pets</th>
    </tr>
  </thead>
  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= link_to owner.full_name, owner_path(owner) %></td>
        <td><%= owner.email %></td>
        <td><%= owner.phone %></td>
        <td><%= owner.pets.count %></td>
      </tr>
    <% end %>
  </tbody>

</table>