<h2>Upcoming Appointments</h2>

<ul class="list-group">
  <% @vet.appointments.upcoming.each do |appointment| %>
    <li class="list-group-item">
      <%= link_to appointment.date.strftime("%B %d, %Y %I:%M %p"), appointment_path(appointment) %>
      - <%= appointment.pet.name %>
    </li>
  <% end %>
</ul>

<h2 class="mt-4">Past Appointments</h2>

<ul class="list-group">
  <% @vet.appointments.past.each do |appointment| %>
    <li class="list-group-item">
      <%= link_to appointment.date.strftime("%B %d, %Y %I:%M %p"), appointment_path(appointment) %>
      - <%= appointment.pet.name %>
    </li>
  <% end %>
</ul>